/* --- GENERAL --- */

*{
    margin: 0px;
}
body{
    background-color: rgb(42, 42, 80);
    margin: 1%;
}
html{
    color: aliceblue;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

section{
    margin-top: 2%;
}
section h1{
    text-align: center;
    margin-bottom: 5%;
}

#generatorDisplay{
    border-radius: 1.1rem;
    background-color: rgba(0, 0, 255, 0.123);
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: center;
}

#generatorDisplay h3{
    padding: 2rem;
    text-decoration: underline;
}


/* --- BUTTON --- */

#displayBtn{
    padding: 1.3rem;
    border-radius: 1.1rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

#displayBtn:hover{
    background-color: rgba(255, 17, 0, 0.274);
    color: antiquewhite;
    cursor: pointer;
}
#displayBtn:active{
    background-color: rgba(255, 17, 0, 0.034);
}